<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titan</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div class ="toolbar">
        <ul>
        <li style="float:right"><a href="{{ url_for('mainpage') }}">home</a></li>
        <li style="float:right"><a href="{{ url_for('aboutpage') }}">about</a></li>
        <li style="float:right"><a href="{{ url_for('contactpage') }}">contact</a></li>
        <li style="float:right"><a href="{{ url_for('githubpage') }}">github</a></li>
        </ul>
    </div>
    <div class ="header">
        <h1>Titan: Python-Based Cryptocurrency Trading Framework</h1>
    </div>
    <br><br>

    <div class ="intro">
        <h3>Introduction</h3>
        <p>Titan is a totally free automated cryptocurrency trading system for traders of all skill levels. Built on top of the ccxt API library, it works out of the box with any exchange.</p>
        <p>We believe in decentralizing trading strategies and providing everyone access to building advanced crypto portfolios. The future of algorithmic trading is here.</p>
        <p>Give it a whirl with a simulation strategy, no login required! </p>
    </div>

    <br><br><br>

    <div class="All Trading Parameters">
        <form action="{{ url_for('strategy') }}" method="POST">
        <div class ="trading-settings-left">
            <h3>Trading Platform</h3>

                Exchange:<br>
                <input type="text" name="exchange"> <br><br>
                Base Currency:<br>
                <input type="text" name="basecurrency"> <br><br>
                Quote Currency:<br>
                <input type="text" name="quotecurrency"> <br><br>
                Candle Interval:<br>
                <input type="text" name="candleinterval" value="5m"> <br><br>

        </div>
        <div class="simulation-settings-right">
           <h3>Simulation Settings</h3>
                Slow Moving Average:<br>
                <input type="text" name="sma" value="700"> <br><br>
                Fast Moving Average:<br>
                <input type="text" name="fma" value="100"> <br><br>
                Simulation Balance:<br>
                <input type="text" name="balance" value="10"> <br><br>

        </div>

        <div class="clear"></div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
     <div class="trading-buttons">
    <button name="forward_simulation" type="submit" value="simulation-button">Start Simulation!</button>
    <button name="forward_live" type="submit" value = "live-button">Start Live Trading!</button>
    </div>
 </form>
            </div>
    <br><br>

</body>

</html>